<h1>Too Early!</h1>
<p>That chore is too far in the future for you to have completed it yet. Please wait until you actually complete your chore to mark it completed.</p>
<%= link_to "Return to Chore Assignments", root_url %>