<h1><%= @user.name %>'s Chore History:</h1>

<div id="current" class="history">
  <h3>Chores This Week:</h3>
  <br>
  <% @user.chore_assignments.each do |assignment| %>
    <% if assignment.due_date >= Date.today %>
      <% status = assignment.completed ? 'completed' : 'incomplete' %>      
      <% status+=' flagged' if assignment.flagged %>
      <%= render partial: 'chore_assignments/assignment', 
                 locals: { assignment: assignment, status: status } %>
    <% end %>
  <% end %>
</div>

<div id="past" class="history">
  <h3>Chore History:</h3>
  <br>
  <% @user.chore_assignments.each do |assignment| %>
    <% if assignment.due_date < Date.today %>
        <% status = assignment.completed ? 'completed' : 'overdue' %>
        <% status += ' flagged' if assignment.flagged %>
        <%= render partial: 'chore_assignments/assignment', 
                   locals: { assignment: assignment, status: status } %>
    <% end %>
  <% end %>
</div>