<h1><%= @user.name %>'s Chore History:</h1>

<div id="past" class="history">
  <h5>Chore History:</h5>
  <br>
  <% @user.chore_assignments.each do |assignment| %>
    <% if assignment.due_date < Date.today %>
        <% status = assignment.completed ? 'completed' : 'overdue' %>
        <%= render partial: 'chore_assignments/assignment', 
                   locals: { assignment: assignment, status: status } %>
    <% end %>
  <% end %>
</div>

<div id="present" class="history">
  <h5>Todays Chores:</h5>
  <br>
  <% @user.chore_assignments.each do |assignment| %>
    <% if assignment.due_date == Date.today %>
      <% status = assignment.completed ? 'completed' : 'incomplete' %>
      <%= render partial: 'chore_assignments/assignment', 
                 locals: { assignment: assignment, status: status } %>
    <% end %>
  <% end %>  
</div>

<div id="future" class="history">
  <h5>Upcoming Chores:</h5>
  <br>
  <% @user.chore_assignments.each do |assignment| %>
    <% if assignment.due_date > Date.today %>
      <% status = assignment.completed ? 'completed' : 'incomplete' %>
      <%= render partial: 'chore_assignments/assignment', 
                 locals: { assignment: assignment, status: status } %>
    <% end %>
  <% end %>
</div>