// Place all the styles related to the Chores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chore-assignment{
  padding: 5px;
  .chore-assignment-inner{
  padding: 10px;
  border: 2px solid #999;
  border-radius: 4px;
  }
}

.user-photo{
  max-height: 100px;
  max-width: auto;
}

.completed{
  background-color: lightgreen;
}

.incomplete{
  background-color: yellow;
}

.overdue{
  background-color: red;
}