// Place all the styles related to the Chores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chore-assignment{
  border: 3px solid white;
  padding: 10px;
  height: 260px;
  width: 20%;
  float: left;
  border-radius: 4px;
  background-color: #eee;
  h5 {
    min-height: 30px;
    font-weight: bold;
  }
}

.user-photo{
  max-height: 75px;
  max-width: auto;
  border-radius: 4px;
  margin: 10px;
}

.completed, .incomplete, .overdue{
  font-weight: bold;
  text-align: center;
}

.completed{
  background-color: #dff0d8;
}

.flagged{
  border-color: red;
}

.incomplete{
  background-color: #fcf8e3;
}

.overdue{
  background-color: #f2dede;
}