// Place all the styles related to the Chores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chore-assignment{
  padding: 10px;
  height: 260px;
  width: 20%;
  float: left;
  border-radius: 4px;
  background-color: #eee;
  h4 {
    min-height: 38px;
  }
}

.alternate{
  background-color: #ddd;
}

.user-photo{
  max-height: 75px;
  max-width: auto;
  border-radius: 4px;
  padding-right: 10px;
}

.completed, .incomplete, .overdue{
  font-weight: bold;
  text-align: center;
}

.completed{
  background-color: lightgreen;
}

.incomplete{
  background-color: yellow;
}

.overdue{
  background-color: red;
}