<h1>Chores!</h1>

<% if current_user.admin %>
  <div class="row">
    <%= render partial: 'shared/addChore',
               locals: { action: chores_url, value: nil, chore: @chores } %>
    <div class="col-sm-2">
      <%= button_to "Send Chores", send_chores_url, method: :post, class: "btn btn-warning"%>
    </div>
  </div>
<% end %>


<div class="row">
  <% @chore_assignments.each do |assignment| %>
    <%= render partial: 'chores/assignment', locals: { assignment: assignment} %>
  <% end %>
</div>


