<h1>Chores!</h1>

<% if current_user.admin %>
  <div class="row">
    <%= render partial: 'shared/addChore',
               locals: { action: chores_url, value: nil, chore: @chores } %>
    <div class="col-sm-4">
      <label>Click here to email everyone their chores:
        <%= button_to "Assign Chores!", send_chores_url, method: :post, class: "btn btn-success"%>
      </label>
    </div>
  </div>
<% end %>


<% ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].each do |weekday| %>
  <%= render partial: 'chores/day', locals: { weekday: weekday } %>
<% end %>


